<!DOCTYPE html>
<html>
<head>
  <title>base</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY2u-8_R0JTyE3gDtOfvCM9FWbI6isbD0&callback=initMap"
    type="text/javascript">
  </script>
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
</head>
<body>

<style type="text/css">
    #huyFONT{
      font-family: 'Barlow', sans-serif;
    }
</style>
<div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar_header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" method="post">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="huyFONT">
                <ul class="nav navbar-nav" >
                    <li><img src="logowhite.GIF" style="width:100px;"></li>
                    <li>                 </li>
                    <li><a href="{{ url_for('index') }}">Map</a></li>
                    <li><a href="{{ url_for('explore') }}">Explore</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a  href="{{ url_for('about') }}">About</a> </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
